<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}LMS{% endblock %}</title>
    </head>

    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('list_users') }}">Users</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('list_courses') }}">Courses</a>
            <a href="{{ url_for('course_create') }}">Create course</a>
        </nav>
        <hr>
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,msg in messages %}
            {% if category=='error' %}
            <p style="color: red;">{{msg}}</p>
            {% else %}
            <p style="color: green;">{{msg}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}

        </main>
    </body>

</html>