<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}LMS{% endblock %}</title>
    </head>

    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            {% if session.get('user_id') %}
            <span>{{session.get('username','User')}}</span> |
            <a href="{{ url_for('logout') }}">logout</a> |
            {% else %}
            <a href="{{ url_for('login') }}">Login</a> |
            <a href="{{ url_for('register') }}">Register</a> |
            {% endif %}
            <a href="{{ url_for('list_users') }}">Users</a> |


            <a href="{{ url_for('list_courses') }}">Courses</a> |
            {% if session.get('role') == 'teacher' %}
            <a href="{{ url_for('course_create') }}">Create course</a>
            {% endif %}
        </nav>
        <hr>
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category,msg in messages %}
            {% if category=='error' %}
            <p style="color: red;">{{msg}}</p>
            {% else %}
            <p style="color: green;">{{msg}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}

        </main>
    </body>

</html>