{% extends 'base.html' %}
{% block title %}Edit Course - LMS{% endblock %}
{% block content %}
<h1>Edit Course</h1>

<form method="POST" action="{{ url_for('course_edit', id=course.id) }}">
    <p>
        <label for="title">title</label>
        <input type="text" id="title" name="title" value="{{ course.title }}" required>

    </p>
    <p>
        <label for="description">description</label>
        <textarea name="description" id="description" rows="4" required>{{course.description}}</textarea>
    </p>
    <p>
        <select name="teacher_id" required>
            <option value="">-- Select Teacher --</option>

            {% for teacher in teachers %}
            <option value="{{ teacher.id }}" {% if course is defined and course and course.teacher_id==teacher.id
                %}selected{% endif %}>
                {{ teacher.username }}
            </option>
            {% endfor %}
        </select>
    </p>


    <br>
    <button type="submit">Update course</button>
</form>
{% endblock %}