{% extends 'base.html' %}
{% block title %}Login - LMS{% endblock %}
{% block content %}

<div class="login-left">


    <h1>Hello, Learner !</h1>


    <img src="{{ url_for('static',

filename='images/login-illustration.png.png') }}" alt="Student learning online with laptop">


</div>
<div class="login-right">


    <form method="post" action="{{ url_for('login') }}" class="login-form">


        <div class="form-group">


            <label for="username">Username</label>


            <input type="text" id="username" name="username" required placeholder="">


        </div>


        <div class="form-group">


            <label for="password">Password</label>


            <input type="password" id="password" name="password" required placeholder="">


        </div>


        <button type="submit" class="btn-login-submit">


            Login


        </button>


        <div class="login-links">


            <a href="#">Forgot password?</a>


            <a href="{{ url_for('register') }}">

                Create a new account?

            </a>


        </div>


    </form>


</div>
{% endblock %}