{% extends 'base.html' %}
{% block title %}{{user.username}}- LMS{% endblock %}
{% block content %}

<div class="user-detail">

    <div class="user-detail-list">


        <div class="user-detail-row user-detail-row-head">


            <span>Username</span>

            <span>Email</span>

            <span>Role</span>

            <span>Actions</span>


        </div>


        <div class="user-detail-row">


            <span>{{ user.username }}</span>

            <span>{{ user.email }}</span>

            <span>{{ user.role }}</span>


            <span class="user-detail-actions">


                <a href="{{ url_for('edit_user', id=user.id) }}">Edit</a>


                <a href="{{ url_for('delete_user', id=user.id) }}" onclick="return confirm('Are you sure?')">


                    Delete


                </a>


            </span>


        </div>


    </div>


</div>

{% endblock %}