{% extends 'base.html' %}
{% block title %}Edit User - LMS{% endblock %}
{% block content %}


<div class="user-edit-page">

    <div class="user-edit-left">


        <h1>Edit User</h1>


        <img src="{{ url_for('static', filename='images/login-illustration.png.png') }}" alt="Edit profile">


    </div>
    <div class="user-edit-right">


        <form method="post" action="{{ url_for('edit_user', id=user.id) }}" class="user-edit-form">


            <div class="form-group">

                <label for="username">Username</label>

                <input type="text" id="username" name="username" value="{{ user.username }}" required>

            </div>


            <div class="form-group">

                <label for="email">Email</label>

                <input type="email" id="email" name="email" value="{{ user.email }}" required>

            </div>


            <div class="form-group">

                <label for="password">Password</label>

                <input type="password" id="password" name="password" placeholder="Enter new password" required>

            </div>


            <div class="form-group">

                <label for="role">Role</label>


                <select id="role" name="role" required>


                    <option value="student" {% if user.role=='student' %}selected{% endif %}>Student</option>


                    <option value="teacher" {% if user.role=='teacher' %}selected{% endif %}>Teacher</option>


                </select>


            </div>


            <button type="submit" class="btn-edit-submit">

                Update User

            </button>


            <p class="user-edit-links">


                <a href="{{ url_for('list_users') }}">Back to Users</a>


                <a href="{{ url_for('user_detail', id=user.id) }}">Cancel</a>


            </p>


        </form>


    </div>





    {% endblock %}